---
pagination:
  data: collections.explainers
  size: 1
  alias: explainer
permalink: "{{ explainer.url }}"
layout: layouts/explainer.njk
---

<div class="row">
  <a href="/MSEdgeExplainers/" class="back-link">← Back to All Explainers</a>
  <a href="https://github.com/MicrosoftEdge/MSEdgeExplainers/labels/{{explainer.data.label}}">
    <img
      src="https://img.shields.io/github/issues/MicrosoftEdge/MSEdgeExplainers/{{explainer.data.label}}?label=issues" />
  </a>
  <a href="{{explainer.relativeFilePath}}">View on GitHub</a>
</div>

<main>
  {{ explainer.renderedContent | safe }}
</main>