---
pagination:
  data: collections.explainers
  size: 1
  alias: explainer
permalink: "{{ explainer.url }}"
layout: layouts/explainer.njk
---

<a href="javascript:history.back()" class="back-link">← Back to Previous Page</a>

<main>
  {{ explainer.renderedContent | safe }}
</main>